header *{
    font-family: 'StarJedi', sans-serif;
    font-size: 25px;
}

.header-background {
    background-image: linear-gradient(to bottom, var(--background-color), var( --background-color-dark));
    padding: 15px;
    padding-left: 0;
}

.header-inner {
    padding: 20px 3vw;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 0 5px 5px 0;
}

.header-inner h1 {
    background: transparent;
    color: var(--main-text-color)
}

.header-inner h1 span{
    margin: 0 10px;
    background: transparent;
    color: var(--main-color);
}

.header-img {
    margin-right: 20px;
    background: transparent;
}