@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  font-family: 'Montserrat', sans-serif;
  --main-color: rgba(249, 215, 48, 1);
  --main-color-dark: rgba(247, 192, 25, 0.8);
  --main-color-transp: rgba(247, 192, 25, 0.4);
  --complementary-color: rgba(90, 213, 200,0.4);
}

.tab-list {
  border-bottom: 2px solid var(--main-color-transp);
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.tab-list-item:hover {
  background: rgba(70, 167, 157, 0.5);
}

.tab-list-active {
  border: none;
  background-color: var(--main-color-transp);
  border-width: 0px
}

.search__label {
  padding: 0 40px;
}

input#search {
  width: 80vw;
  padding: 12px 20px;
  margin: auto;
  box-sizing: border-box;
  border: none;
  background-color: var(--main-color-transp);
  border-radius: 4px;
}

button#sort {
  margin: 0 40px;
  padding: 7px 20px;
  width: 100px;
  background: var(--main-color-transp);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}

button#sort:hover{
  background: rgba(70, 167, 157, 0.5);
}

ul {
  list-style: none;
}

li {
  padding: 3px 0;
}

ul.tabData {
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
}

ul.tabData li {
  cursor: pointer;
  transition: 0.2s ease-in-out;

}

ul.tabData li:hover {
 color: rgba(70, 167, 157, 1);
}

li.details{
  cursor: pointer;
}

.sweet-loading {
  display: inline-block;
  margin-left: 20px;
}

.details{
  position: relative;
}

.details span {
  color: rgba(0, 0, 0, 0.6);
  margin: 0 3px;
}

.details span:hover {
  color: rgba(70, 167, 157, 1);
}

.details span:after {
  content: "•";
  position: relative;
  right: -3px;
  top: 2px;
  font-size: 24px;
  color: rgba(90, 213, 200, 1);
}

.details span.sweet-loading:after {
  content: "";
}
